<h1>Add New Celebrty</h1>

<form action="/celebrities/create" method="POST">
<div>
  <label>Name</label>
  <input type="text" name="theName" id="">
</div>

<div>
  <label>Occupation</label>
  <input type="text" name="theOccupation" id="">
</div>

<div>
  <label>Photo</label>
  <input type="text" name="thePhoto" id="">
</div>
<button type="submit">Save</button>
</form>